<h1>Eat-Da_Burger</h1>
<hr>
<h2>Burgers Not Eaten:</h2>
<div>
        <ul>
          {{#each burgers}}
              {{#unless this.devoured}}
              <li>
                  <h3>{{this.burger_name}}</h3>
                      <span>
                        <form action="burgers/update/{{this.id}}" method="PUT">
                          <input type="hidden" name="devoured" value="true">
                          <button type="submit"> EAT IT! </button>
                        </form>
                      </span>
              </li>
                {{/unless}}
          {{/each}}
        </ul>
<hr>
<h2>Burgers Eaten:</h2>
				<ul>
				{{#each burgers}}
					{{#if this.devoured}}
          <li>
              <h3>{{this.burger_name}}</h3>
          </li>
					{{/if}}
				{{/each}}
				</ul>
</div>
<hr>
<div>
  <form class="create-update-form" action="/burgers/create" method="POST">
  	<textarea type="text" name="burger_form"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>
