<h1>Eat-Da-Burger</h1>

<h2>Burgers not Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

				<ul>
				{{#each burgers}}
					{{#if this.devoured}}
          <li>
              {{this.burger_name}}
          </li>
					{{/if}}
				{{/each}}
				</ul>

{{!-- <ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group"
    <label for="brgr">Burger Name:</label>
    <input type="text" id="brgr" name="burger_name">
  </div>

  <div class="form-group">
    <input type="hidden" name="devoured" id="hide-value" value="0">
    {{!-- <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Not Eaten<br>
    <input type="radio" name="devoured" value="1"> Eaten! --}}
  </div>

  <button type="submit">Add a Burger</button>
</form>
